/* screen - frame-1 */

.frame-1 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  height: 780px;
  padding: 15px 14px;
  width: 392px;
}

.frame-1 .item {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-top: 23px;
  min-width: 356px;
}

.frame-1 .overlap-group-2 {
  align-items: flex-end;
  border-radius: 5px;
  height: 139px;
  justify-content: flex-end;
  padding: 11px 9px;
}

.frame-1 .image-2 {
  height: 115px;
  object-fit: cover;
  width: 87px;
}

.frame-1 .flex-col {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 17px;
  margin-top: 3px;
  min-height: 104px;
  width: 81px;
}

.frame-1 .item-1 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
}

.frame-1 .size-s-colour-yellow {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 30px;
}

.frame-1 .price {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 7px;
  margin-left: 83px;
  min-height: 15px;
  min-width: 60px;
  text-align: right;
}

.frame-1 .group {
  align-items: flex-start;
  display: flex;
  margin-left: 4.0px;
  margin-top: 10px;
  min-width: 352px;
}

.frame-1 .overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 20px;
  gap: 12px;
  min-width: 350px;
  padding: 26px 17px;
}

.frame-1 .rectangle-14 {
  background-color: var(--black-haze);
  border: 1px solid;
  border-color: var(--cultured-pearl);
  height: 25px;
  width: 25px;
}

.frame-1 .wrong-size {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 1.0px;
  min-height: 19px;
  min-width: 85px;
  text-align: center;
}

.frame-1 .quality-not-as-expected {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 1.0px;
  min-height: 19px;
  min-width: 182px;
  text-align: center;
}

.frame-1 .overlap-group-1 {
  align-items: flex-start;
  border-radius: 20px;
  gap: 13px;
  height: 80px;
  padding: 26px 17px;
}

.frame-1 .too-expensive {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 1.0px;
  min-height: 19px;
  min-width: 111px;
  text-align: center;
}

.frame-1 .regret-purchase {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 1.0px;
  min-height: 19px;
  min-width: 126px;
  text-align: center;
}

.frame-1 .added-it-for-free-shipping {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 1.0px;
  min-height: 19px;
  min-width: 195px;
  text-align: center;
}

.frame-1 .next-button {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 4px;
  margin-top: 58px;
  min-width: 343px;
}

.frame-1 .overlap-group1 {
  align-items: flex-end;
  background-color: #d9d9d9;
  border-radius: 40px;
  min-width: 341px;
  padding: 25px 118px;
}

.frame-1 .title {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  min-height: 29px;
  min-width: 105px;
  text-align: center;
}

.frame-1 .overlap {
  display: flex;
  height: 80px;
}

.frame-1 .overlap-group-3 {
  background-color: var(--white);
  display: flex;
  min-width: 350px;
}
